name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  ci:
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true

      - name: Lint
        uses: golangci/golangci-lint-action@v7

      - name: Build and test
        run: make mod build test

      - name: Check for uncommitted changes
        run: make diff

  goreleaser:
    needs: ci
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          check-latest: true

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true

      - name: Release
        run: goreleaser release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
